@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   
}

.content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    font-size: 100px;
    cursor: pointer;
    text-shadow: 0 0 20px #eeeeee;
}

footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #8f8f8f;
    margin-bottom: 20px;
}

footer a{
    color: #8b0a0a;
}

