*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h2{
    margin: 40px;
    color: #FCFCFC;
    font-size: 4em;
}

.box{
    background-color: #FCFCFC;
    color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    transform: translateX(400%);
    transition: transform .4s ease-in-out;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

.box h1{
    font-size: 1.5em;
}

footer{
    padding: 50px 0;
}

footer p{
    color: #FCFCFC;
}

footer a{
    color: red;
}